<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="database_connection" value="Server=(local)\\MSSQLSERVER; Database=Gradebook; Trusted_connection=true" />
      <add key="password_salt" value="ea7167a026466d146882ee47123f9614" />
    </appSettings>
</configuration>